{
  "openapi": "3.0.1",
  "info": {
    "title": "Boekuwzending webservices",
    "description": "<span style=\"font-weight: bold;\">Please contact api@boekuwzending.com for questions or credentials.</span>",
    "version": "0.0.0"
  },
  "servers": [
    {
      "url": "https://api.boekuwzending.com",
      "description": "Production server"
    },
    {
      "url": "https://staging.api.boekuwzending.com",
      "description": "Staging server"
    }
  ],
  "security": [
    {
      "OAuth2": ["read", "write"]
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": ["Authorization"],
        "summary": "Retrieves the current user resource.",
        "responses": {
          "200": {
            "description": "User resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/address_book_items": {
      "get": {
        "tags": ["AddressBookItems"],
        "summary": "Retrieves the collection of AddressBookItems resources.",
        "operationId": "getAddressBookItemsCollection",
        "parameters": [
          {
            "name": "relation.id",
            "in": "query",
            "schema": {}
          },
          {
            "name": "relation.id[]",
            "in": "query",
            "schema": {}
          },
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AddressBookItems collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddressBookItems-address_book-collection-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddressBookItems-address_book-collection-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddressBookItems-address_book-collection-read"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/address_book_items/{id}": {
      "get": {
        "tags": ["AddressBookItems"],
        "summary": "Retrieves a AddressBookItems resource.",
        "operationId": "getAddressBookItemsItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AddressBookItems resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressBookItems-address_book-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressBookItems-address_book-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AddressBookItems-address_book-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/admin_users": {
      "get": {
        "tags": ["AdminUser"],
        "summary": "Retrieves the collection of AdminUser resources.",
        "operationId": "getAdminUserCollection",
        "parameters": [
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AdminUser collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdminUser-admin-user-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdminUser-admin-user-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdminUser-admin-user-read"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin_users/{id}": {
      "get": {
        "tags": ["AdminUser"],
        "summary": "Retrieves a AdminUser resource.",
        "operationId": "getAdminUserItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AdminUser resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUser-admin-user-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUser-admin-user-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUser-admin-user-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/bulk_shipments": {
      "get": {
        "tags": ["BulkShipment"],
        "summary": "Retrieves the collection of BulkShipment resources.",
        "operationId": "getBulkShipmentCollection",
        "parameters": [
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BulkShipment collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkShipment-bulk-shipment-collection-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkShipment-bulk-shipment-collection-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BulkShipment-bulk-shipment-collection-read"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bulk_shipments/{id}": {
      "get": {
        "tags": ["BulkShipment"],
        "summary": "Retrieves a BulkShipment resource.",
        "operationId": "getBulkShipmentItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BulkShipment resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkShipment-bulk-shipment-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkShipment-bulk-shipment-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/BulkShipment-bulk-shipment-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/buzzie/postcodes": {
      "get": {
        "tags": ["Postcode"],
        "summary": "Retrieves the collection of Postcode resources.",
        "operationId": "buzzie-postcodesPostcodeCollection",
        "parameters": [
          {
            "name": "_global_search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_global_search.properties",
            "in": "query",
            "description": "postcode, region.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_order[postcode]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Postcode collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Postcode-Api.BuzziePostcode"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Postcode-Api.BuzziePostcode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/conversations": {
      "get": {
        "tags": ["Conversation"],
        "summary": "Retrieves the collection of Conversation resources.",
        "operationId": "getConversationCollection",
        "parameters": [
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Conversation-conversation-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Conversation-conversation-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Conversation-conversation-read"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Conversation"],
        "summary": "Creates a Conversation resource.",
        "operationId": "postConversationCollection",
        "requestBody": {
          "description": "The new Conversation resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conversation-conversation-write"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/Conversation-conversation-write"
              }
            },
            "text/html": {
              "schema": {
                "$ref": "#/components/schemas/Conversation-conversation-write"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Conversation resource created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation-conversation-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation-conversation-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation-conversation-item-read"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "conversation"
      }
    },
    "/conversations/{id}": {
      "get": {
        "tags": ["Conversation"],
        "summary": "Retrieves a Conversation resource.",
        "operationId": "getConversationItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation-conversation-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation-conversation-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation-conversation-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/conversations/{id}/messages": {
      "get": {
        "tags": ["Message", "Conversation"],
        "summary": "Retrieves the collection of Message resources.",
        "operationId": "api_conversations_messages_get_subresource",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/countries": {
      "get": {
        "tags": ["Country"],
        "summary": "Retrieves the collection of Country resources.",
        "operationId": "getCountryCollection",
        "parameters": [
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country-country-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country-country-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country-country-read"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/countries/{id}": {
      "get": {
        "tags": ["Country"],
        "summary": "Retrieves a Country resource.",
        "operationId": "getCountryItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country-country-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Country-country-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Country-country-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/distributors": {
      "get": {
        "tags": ["Distributor"],
        "summary": "Retrieves the collection of Distributor resources.",
        "operationId": "getDistributorCollection",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code[]",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Distributor collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Distributor-distributor-collection-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Distributor-distributor-collection-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Distributor-distributor-collection-read"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/distributors/{id}": {
      "get": {
        "tags": ["Distributor"],
        "summary": "Retrieves a Distributor resource.",
        "operationId": "getDistributorItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Distributor resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Distributor-distributor-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Distributor-distributor-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Distributor-distributor-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/integrations": {
      "get": {
        "tags": ["Integration"],
        "summary": "Retrieves the collection of Integration resources.",
        "operationId": "getIntegrationCollection",
        "parameters": [
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Integration-integration-collection-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Integration-integration-collection-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Integration-integration-collection-read"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/shopify": {
      "post": {
        "tags": ["ShopifyServiceIntegration"],
        "summary": "Creates a ShopifyServiceIntegration resource.",
        "operationId": "postShopifyServiceIntegrationCollection",
        "requestBody": {
          "description": "The new ShopifyServiceIntegration resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShopifyServiceIntegration-integration-item-write"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ShopifyServiceIntegration-integration-item-write"
              }
            },
            "text/html": {
              "schema": {
                "$ref": "#/components/schemas/ShopifyServiceIntegration-integration-item-write"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "ShopifyServiceIntegration resource created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShopifyServiceIntegration-integration-item-post-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ShopifyServiceIntegration-integration-item-post-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ShopifyServiceIntegration-integration-item-post-read"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "shopifyServiceIntegration"
      }
    },
    "/integrations/shopify/{id}": {
      "get": {
        "tags": ["ShopifyServiceIntegration"],
        "summary": "Retrieves a ShopifyServiceIntegration resource.",
        "operationId": "getShopifyServiceIntegrationItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ShopifyServiceIntegration resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShopifyServiceIntegration-integration-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ShopifyServiceIntegration-integration-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ShopifyServiceIntegration-integration-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/integrations/{id}": {
      "get": {
        "tags": ["Integration"],
        "summary": "Retrieves a Integration resource.",
        "operationId": "getIntegrationItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration-integration-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration-integration-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Integration-integration-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/labels/{id}": {
      "get": {
        "tags": ["Label"],
        "summary": "Retrieves a Label resource.",
        "operationId": "getLabelItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Label resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label-label-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Label-label-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Label-label-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/matrices": {
      "get": {
        "tags": ["Matrix"],
        "summary": "Retrieves the collection of Matrix resources.",
        "operationId": "getMatrixCollection",
        "parameters": [
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matrix collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Matrix-matrix-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Matrix-matrix-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Matrix-matrix-read"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/matrices/{id}": {
      "get": {
        "tags": ["Matrix"],
        "summary": "Retrieves a Matrix resource.",
        "operationId": "getMatrixItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matrix resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Matrix-matrix-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Matrix-matrix-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Matrix-matrix-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/matrix_groups": {
      "get": {
        "tags": ["MatrixGroup"],
        "summary": "Retrieves the collection of MatrixGroup resources.",
        "operationId": "getMatrixGroupCollection",
        "parameters": [
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MatrixGroup collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatrixGroup-matrix-group-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatrixGroup-matrix-group-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatrixGroup-matrix-group-read"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/matrix_groups/{id}": {
      "get": {
        "tags": ["MatrixGroup"],
        "summary": "Retrieves a MatrixGroup resource.",
        "operationId": "getMatrixGroupItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MatrixGroup resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatrixGroup-matrix-group-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/MatrixGroup-matrix-group-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/MatrixGroup-matrix-group-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/matrix_postcodes": {
      "get": {
        "tags": ["MatrixPostcode"],
        "summary": "Retrieves the collection of MatrixPostcode resources.",
        "operationId": "getMatrixPostcodeCollection",
        "parameters": [
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MatrixPostcode collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatrixPostcode-matrix-postcode-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatrixPostcode-matrix-postcode-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatrixPostcode-matrix-postcode-read"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/matrix_postcodes/{id}": {
      "get": {
        "tags": ["MatrixPostcode"],
        "summary": "Retrieves a MatrixPostcode resource.",
        "operationId": "getMatrixPostcodeItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MatrixPostcode resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatrixPostcode-matrix-postcode-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/MatrixPostcode-matrix-postcode-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/MatrixPostcode-matrix-postcode-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/matrix_rates": {
      "get": {
        "tags": ["MatrixRate"],
        "summary": "Retrieves the collection of MatrixRate resources.",
        "operationId": "getMatrixRateCollection",
        "parameters": [
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MatrixRate collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatrixRate-matrix-rate-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatrixRate-matrix-rate-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MatrixRate-matrix-rate-read"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/matrix_rates/{id}": {
      "get": {
        "tags": ["MatrixRate"],
        "summary": "Retrieves a MatrixRate resource.",
        "operationId": "getMatrixRateItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MatrixRate resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatrixRate-matrix-rate-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/MatrixRate-matrix-rate-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/MatrixRate-matrix-rate-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/messages": {
      "post": {
        "tags": ["Message"],
        "summary": "Creates a Message resource.",
        "operationId": "postMessageCollection",
        "requestBody": {
          "description": "The new Message resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Message-message-write"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/Message-message-write"
              }
            },
            "text/html": {
              "schema": {
                "$ref": "#/components/schemas/Message-message-write"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Message resource created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message-message-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Message-message-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Message-message-read"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "message"
      }
    },
    "/messages/{id}": {
      "get": {
        "tags": ["Message"],
        "summary": "Retrieves a Message resource.",
        "operationId": "getMessageItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message-message-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Message-message-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Message-message-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": ["Message"],
        "summary": "Updates the Message resource.",
        "operationId": "patchMessageItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated Message resource",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Message-message-patch"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/Message-message-patch"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Message resource updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message-message-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Message-message-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Message-message-read"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "message"
      }
    },
    "/orders": {
      "get": {
        "tags": ["ExternalOrder"],
        "summary": "Retrieves the collection of ExternalOrder resources.",
        "operationId": "getExternalOrderCollection",
        "parameters": [
          {
            "name": "externalId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId[]",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ExternalOrder collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExternalOrder-order-collection-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExternalOrder-order-collection-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExternalOrder-order-collection-read"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["ExternalOrder"],
        "summary": "Creates a ExternalOrder resource.",
        "operationId": "postExternalOrderCollection",
        "requestBody": {
          "description": "The new ExternalOrder resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalOrder-order-write"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalOrder-order-write"
              }
            },
            "text/html": {
              "schema": {
                "$ref": "#/components/schemas/ExternalOrder-order-write"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "ExternalOrder resource created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalOrder-order-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalOrder-order-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalOrder-order-item-read"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "externalOrder"
      }
    },
    "/orders/{id}": {
      "get": {
        "tags": ["ExternalOrder"],
        "summary": "Retrieves a ExternalOrder resource.",
        "operationId": "getExternalOrderItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ExternalOrder resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalOrder-order-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalOrder-order-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalOrder-order-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      },
      "put": {
        "tags": ["ExternalOrder"],
        "summary": "Replaces the ExternalOrder resource.",
        "operationId": "putExternalOrderItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated ExternalOrder resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalOrder-order-write"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalOrder-order-write"
              }
            },
            "text/html": {
              "schema": {
                "$ref": "#/components/schemas/ExternalOrder-order-write"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ExternalOrder resource updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalOrder-order-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalOrder-order-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalOrder-order-item-read"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "externalOrder"
      },
      "delete": {
        "tags": ["ExternalOrder"],
        "summary": "Removes the ExternalOrder resource.",
        "operationId": "deleteExternalOrderItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "ExternalOrder resource deleted",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/pickup_requests": {
      "get": {
        "tags": ["PickupRequest"],
        "summary": "Retrieves the collection of PickupRequest resources.",
        "operationId": "getPickupRequestCollection",
        "parameters": [
          {
            "name": "_global_search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_global_search.properties",
            "in": "query",
            "description": "relation.name, relation.number, pickupAddress.contact.company, pickupAddress.contact.name, pickupAddress.address.addressLine1, pickupAddress.address.postcode, pickupAddress.address.city, pickupAddress.address.country, user.firstName, user.lastNamePrefix, user.lastName",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_order[relation.name]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PickupRequest collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PickupRequest-pickup_request-collection-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PickupRequest-pickup_request-collection-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PickupRequest-pickup_request-collection-read"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["PickupRequest"],
        "summary": "Creates a PickupRequest resource.",
        "operationId": "postPickupRequestCollection",
        "requestBody": {
          "description": "The new PickupRequest resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PickupRequest-pickup_request-collection-write"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/PickupRequest-pickup_request-collection-write"
              }
            },
            "text/html": {
              "schema": {
                "$ref": "#/components/schemas/PickupRequest-pickup_request-collection-write"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "PickupRequest resource created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupRequest-pickup_request-collection-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupRequest-pickup_request-collection-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/PickupRequest-pickup_request-collection-read"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "pickupRequest"
      }
    },
    "/pickup_requests/{id}": {
      "get": {
        "tags": ["PickupRequest"],
        "summary": "Retrieves a PickupRequest resource.",
        "operationId": "getPickupRequestItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PickupRequest resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupRequest-pickup_request-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupRequest-pickup_request-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/PickupRequest-pickup_request-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      },
      "put": {
        "tags": ["PickupRequest"],
        "summary": "Replaces the PickupRequest resource.",
        "operationId": "putPickupRequestItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated PickupRequest resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PickupRequest-pickup_request-item-write"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/PickupRequest-pickup_request-item-write"
              }
            },
            "text/html": {
              "schema": {
                "$ref": "#/components/schemas/PickupRequest-pickup_request-item-write"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "PickupRequest resource updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupRequest-pickup_request-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupRequest-pickup_request-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/PickupRequest-pickup_request-item-read"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "pickupRequest"
      },
      "delete": {
        "tags": ["PickupRequest"],
        "summary": "Removes the PickupRequest resource.",
        "operationId": "deletePickupRequestItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "PickupRequest resource deleted",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": ["PickupRequest"],
        "summary": "Updates the PickupRequest resource.",
        "operationId": "patchPickupRequestItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated PickupRequest resource",
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PickupRequest-pickup_request-item-write"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/PickupRequest-pickup_request-item-write"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "PickupRequest resource updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupRequest-pickup_request-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupRequest-pickup_request-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/PickupRequest-pickup_request-item-read"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "pickupRequest"
      }
    },
    "/rate-request": {
      "post": {
        "tags": ["Shipment"],
        "summary": "Creates a Shipment resource.",
        "operationId": "post_rateShipmentCollection",
        "requestBody": {
          "description": "The new Shipment resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Shipment-shipment-write"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/Shipment-shipment-write"
              }
            },
            "text/html": {
              "schema": {
                "$ref": "#/components/schemas/Shipment-shipment-write"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Shipment resource created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "shipment"
      }
    },
    "/relations": {
      "get": {
        "tags": ["Relation"],
        "summary": "Retrieves the collection of Relation resources.",
        "operationId": "getRelationCollection",
        "parameters": [
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relation collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Relation-relation-collection-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Relation-relation-collection-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Relation-relation-collection-read"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/relations/{id}": {
      "get": {
        "tags": ["Relation"],
        "summary": "Retrieves a Relation resource.",
        "operationId": "getRelationItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relation resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Relation-relation-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Relation-relation-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Relation-relation-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/scan_inbounds": {
      "post": {
        "tags": ["ScanInbound"],
        "summary": "Creates a ScanInbound resource.",
        "operationId": "postScanInboundCollection",
        "requestBody": {
          "description": "The new ScanInbound resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanInbound-ScanInbound.Write"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/ScanInbound-ScanInbound.Write"
              }
            },
            "text/html": {
              "schema": {
                "$ref": "#/components/schemas/ScanInbound-ScanInbound.Write"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "ScanInbound resource created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanInbound-ScanInbound.Read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanInbound-ScanInbound.Read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ScanInbound-ScanInbound.Read"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "scanInbound"
      }
    },
    "/scan_inbounds/{uuid}": {
      "get": {
        "tags": ["ScanInbound"],
        "summary": "Retrieves a ScanInbound resource.",
        "operationId": "getScanInboundItem",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ScanInbound resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanInbound-ScanInbound.Read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanInbound-ScanInbound.Read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ScanInbound-ScanInbound.Read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/services": {
      "post": {
        "tags": ["Shipment"],
        "summary": "Creates a Shipment resource.",
        "operationId": "post_serviceShipmentCollection",
        "requestBody": {
          "description": "The new Shipment resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Shipment-shipment-write"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/Shipment-shipment-write"
              }
            },
            "text/html": {
              "schema": {
                "$ref": "#/components/schemas/Shipment-shipment-write"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Shipment resource created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "shipment"
      }
    },
    "/services/{id}": {
      "get": {
        "tags": ["Service"],
        "summary": "Retrieves a Service resource.",
        "operationId": "getServiceItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service-service-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Service-service-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Service-service-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/shipment_quotations": {
      "get": {
        "tags": ["ShipmentQuotation"],
        "summary": "Retrieves the collection of ShipmentQuotation resources.",
        "operationId": "getShipmentQuotationCollection",
        "parameters": [
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ShipmentQuotation collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentQuotation-shipment-quotation-collection-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentQuotation-shipment-quotation-collection-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentQuotation-shipment-quotation-collection-read"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shipment_quotations/{id}": {
      "get": {
        "tags": ["ShipmentQuotation"],
        "summary": "Retrieves a ShipmentQuotation resource.",
        "operationId": "getShipmentQuotationItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ShipmentQuotation resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentQuotation-shipment-quotation-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentQuotation-shipment-quotation-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentQuotation-shipment-quotation-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/shipments": {
      "get": {
        "tags": ["Shipment"],
        "summary": "Retrieves the collection of Shipment resources.",
        "operationId": "getShipmentCollection",
        "parameters": [
          {
            "name": "_global_search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_global_search.properties",
            "in": "query",
            "description": "status, invoiceReference, bulk.reference, relation.name, relation.number, shipFrom.address.city, shipFrom.address.country, shipTo.address.city, shipTo.address.country, shipTo.address.postcode, vehicle.type, transportSteps.route.sequence, transportSteps.route.collection.date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status[]",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "invoiceReference",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rate.distributor.code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rate.distributor.code[]",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "draft",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "_order[sequence.number]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Shipment-shipment-collection-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Shipment-shipment-collection-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Shipment-shipment-collection-read"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Shipment"],
        "summary": "Creates a Shipment resource.",
        "operationId": "postShipmentCollection",
        "requestBody": {
          "description": "The new Shipment resource",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Shipment-shipment-write"
              }
            },
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/Shipment-shipment-write"
              }
            },
            "text/html": {
              "schema": {
                "$ref": "#/components/schemas/Shipment-shipment-write"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Shipment resource created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment-shipment-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment-shipment-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment-shipment-item-read"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "shipment"
      }
    },
    "/shipments/items/{id}": {
      "get": {
        "tags": ["Item"],
        "summary": "Retrieves a Item resource.",
        "operationId": "getItemItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item-shipment_item-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Item-shipment_item-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Item-shipment_item-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/shipments/{id}": {
      "get": {
        "tags": ["Shipment"],
        "summary": "Retrieves a Shipment resource.",
        "operationId": "getShipmentItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment-shipment-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment-shipment-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment-shipment-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/shipments/{id}/labels": {
      "get": {
        "tags": ["Label", "Shipment"],
        "summary": "Retrieves the collection of Label resources.",
        "operationId": "api_shipments_labels_get_subresource",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shipment.id",
            "in": "query",
            "schema": {}
          },
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Label collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Label"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Label"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Label"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/surcharge_sets/{id}": {
      "get": {
        "tags": ["SurchargeSet"],
        "summary": "Retrieves a SurchargeSet resource.",
        "operationId": "getSurchargeSetItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SurchargeSet resource response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurchargeSet-surcharge-set-item-read"
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/SurchargeSet-surcharge-set-item-read"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/SurchargeSet-surcharge-set-item-read"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {}
          }
        }
      }
    },
    "/track-and-trace/{id}": {
      "get": {
        "tags": ["Label"],
        "summary": "Retrieves the collection of Label resources.",
        "operationId": "track_and_traceLabelCollection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shipment.id",
            "in": "query",
            "schema": {}
          },
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Label collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Label"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Label"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Label"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trackings": {
      "get": {
        "tags": ["Tracking"],
        "summary": "Retrieves the collection of Tracking resources.",
        "operationId": "getTrackingCollection",
        "parameters": [
          {
            "name": "shipmentItem.shipment.id",
            "in": "query",
            "schema": {}
          },
          {
            "name": "_page",
            "in": "query",
            "description": "The collection page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_items_per_page",
            "in": "query",
            "description": "The number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_pagination",
            "in": "query",
            "description": "Enable or disable pagination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tracking collection response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tracking-tracking-read"
                  }
                }
              },
              "application/vnd.api+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tracking-tracking-read"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
[...]
